# Importation des données :

In [1]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.1-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 249.8/249.8 kB 7.8 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import pandas as pd
import requests
import numpy as np 
from scipy import stats

In [3]:
OECD = pd.read_excel('données/OECD - short term economic indicators.xlsx')

In [4]:
IMF = pd.read_excel('données/IMF - monetary policy.xlsx')

In [5]:
agregated_data=pd.ExcelFile('données/FRBNY-SCE-Data.xlsx')
agregated_anticipation= df1=pd.read_excel(agregated_data, 'Inflation expectations')

In [6]:
agrant = agregated_anticipation[['Unnamed: 1','Unnamed: 2']].drop([0,1,2]).reset_index().rename(columns={'index':'date','Unnamed: 1':'short exp','Unnamed: 2':'mid exp'})

In [7]:
Enq13 = pd.read_excel('https://www.newyorkfed.org/medialibrary/interactives/sce/sce/downloads/data/frbny-sce-public-microdata-complete-13-16.xlsx')

In [8]:
Enq17 = pd.read_excel('https://www.newyorkfed.org/medialibrary/interactives/sce/sce/downloads/data/frbny-sce-public-microdata-complete-17-19.xlsx')

In [9]:
Latest=pd.ExcelFile('https://www.newyorkfed.org/medialibrary/Interactives/sce/sce/downloads/data/frbny-sce-public-microdata-latest.xlsx')
Enq20=pd.read_excel(Latest, 'Data')

In [10]:
Enq20

,"Source: Survey of Consumer Expectations, © 2013-23 Federal Reserve Bank of New York (FRBNY). The SCE data are available without charge at www.newyorkfed.org and may be used subject to license terms posted there. FRBNY disclaims any responsibility or legal liability for this analysis and interpretation of Survey of Consumer Expectations data.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 210,Unnamed: 211,Unnamed: 212,Unnamed: 213,Unnamed: 214,Unnamed: 215,Unnamed: 216,Unnamed: 217,Unnamed: 218,Unnamed: 219
0,date,userid,tenure,weight,Q1,Q2,Q3,Q4new,Q5new,Q6new,...,Q48,QRA1,QRA2,survey_date,_AGE_CAT,_NUM_CAT,_REGION_CAT,_COMMUTING_ZONE,_EDU_CAT,_HH_INC_CAT
1,202001,70103231,12,0.81825,4,3,20,62,26,44,...,5,NaN,NaN,2020-01-23 00:00:00,40 to 60,High,West,218,College,Over 100k
2,202001,70103252,11,2.879998,3,2,1,30,1,10,...,2,NaN,NaN,2020-01-02 00:00:00,40 to 60,Low,Northeast,203,High School,Under 50k
3,202001,70103258,12,0.549674,4,4,0,3,4,18,...,4,NaN,NaN,2020-01-07 00:00:00,Over 60,High,South,102,College,50k to 100k
4,202001,70103285,12,0.481746,4,4,10,10,10,10,...,1,NaN,NaN,2020-01-27 00:00:00,Under 40,High,Midwest,100,College,50k to 100k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35136,202204,75005976,1,0.954878,4,5,0,5,25,55,...,5,4,7,2022-04-12 00:00:00,40 to 60,Low,South,54,Some College,50k to 100k
35137,202204,75005980,1,0.708391,2,3,34,22,86,54,...,4,3,3,2022-04-04 00:00:00,Over 60,High,West,902,College,50k to 100k
35138,202204,75005987,1,0.915896,2,4,81,70,51,47,...,5,5,4,2022-04-10 00:00:00,Under 40,Low,South,84,Some College,Under 50k
35139,202204,75005995,1,0.888988,4,4,95,5,5,5,...,3,5,4,2022-04-20 00:00:00,Under 40,Low,South,102,Some College,50k to 100k
35140,202204,75005996,1,0.97863,1,3,1,50,30,40,...,3,2,2,2022-04-12 00:00:00,Over 60,Low,Midwest,2,Some College,Under 50k

In [11]:
#Il faut faire 2-3 manips pour rendre les bases utilisables
new_columns = Enq13.iloc[0]
Enq13.columns = new_columns
Enq13 = Enq13.drop(0)

new_columns = Enq17.iloc[0]
Enq17.columns = new_columns
Enq17 = Enq17.drop(0)

In [12]:
new_columns = Enq20.iloc[0]
Enq20.columns = new_columns
Enq20 = Enq20.drop(0)

In [13]:
Enq17['date'] = pd.to_datetime(Enq17['date'].astype(str) + '01', format='%Y%m%d')
Enq13['date'] = pd.to_datetime(Enq13['date'].astype(str) + '01', format='%Y%m%d')
Enq20['date'] = pd.to_datetime(Enq20['date'].astype(str) + '01', format='%Y%m%d')

In [14]:
Base_finale=pd.concat([Enq13,Enq17,Enq20])

In [15]:
Base_finale.to_excel('Base_finale.xlsx')

# I-Première spécification :

In [16]:
from sklearn.linear_model import LinearRegression

In [94]:
from statsmodels.regression.linear_model import OLS
import statsmodels.api as sm

In [18]:
AA=Base_finale

In [19]:
list(AA.columns)

['date',
 'userid',
 'tenure',
 'weight',
 'Q1',
 'Q2',
 'Q3',
 'Q4new',
 'Q5new',
 'Q6new',
 'Q8v2',
 'Q8v2part2',
 'Q9_cent25',
 'Q9_cent50',
 'Q9_cent75',
 'Q9_var',
 'Q9_mean',
 'Q9_iqr',
 'Q9_probdeflation',
 'Q9_bin1',
 'Q9_bin2',
 'Q9_bin3',
 'Q9_bin4',
 'Q9_bin5',
 'Q9_bin6',
 'Q9_bin7',
 'Q9_bin8',
 'Q9_bin9',
 'Q9_bin10',
 'Q9bv2',
 'Q9bv2part2',
 'Q9c_cent25',
 'Q9c_cent50',
 'Q9c_cent75',
 'Q9c_var',
 'Q9c_mean',
 'Q9c_iqr',
 'Q9c_probdeflation',
 'Q9c_bin1',
 'Q9c_bin2',
 'Q9c_bin3',
 'Q9c_bin4',
 'Q9c_bin5',
 'Q9c_bin6',
 'Q9c_bin7',
 'Q9c_bin8',
 'Q9c_bin9',
 'Q9c_bin10',
 'Q10_1',
 'Q10_2',
 'Q10_3',
 'Q10_4',
 'Q10_5',
 'Q10_6',
 'Q10_7',
 'Q10_8',
 'Q10_9',
 'Q10_10',
 'Q11',
 'Q12new',
 'ES1_1',
 'ES1_2',
 'ES1_3',
 'ES1_4',
 'ES2',
 'ES3new',
 'ES4',
 'ES5',
 'Q13new',
 'Q14new',
 'Q15',
 'Q16',
 'Q17new',
 'Q18new',
 'Q19',
 'Q20new',
 'Q21new',
 'Q22new',
 'Q23v2',
 'Q23v2part2',
 'Q24_cent25',
 'Q24_cent50',
 'Q24_cent75',
 'Q24_var',
 'Q24_mean',
 'Q24_iqr',
 'Q24_probdeflation',
 'Q24_bin1',
 'Q24_bin2',
 'Q24_bin3',
 'Q24_bin4',
 'Q24_bin5',
 'Q24_bin6',
 'Q24_bin7',
 'Q24_bin8',
 'Q24_bin9',
 'Q24_bin10',
 'Q25v2',
 'Q25v2part2',
 'Q26v2',
 'Q26v2part2',
 'Q27v2',
 'Q27v2part2',
 'Q28',
 'Q29',
 'Q30new',
 'Q31v2',
 'Q31v2part2',
 'C1_cent25',
 'C1_cent50',
 'C1_cent75',
 'C1_var',
 'C1_mean',
 'C1_iqr',
 'C1_probdeflation',
 'C1_bin1',
 'C1_bin2',
 'C1_bin3',
 'C1_bin4',
 'C1_bin5',
 'C1_bin6',
 'C1_bin7',
 'C1_bin8',
 'C1_bin9',
 'C1_bin10',
 'C2',
 'C2part2',
 'C3',
 'C3part2',
 'C4_1',
 'C4_2',
 'C4_3',
 'C4_4',
 'C4_5',
 'C4_6',
 'QNUM1',
 'QNUM2',
 'QNUM3',
 'QNUM5',
 'QNUM6',
 'QNUM8',
 'QNUM9',
 'Q32',
 'Q33',
 'Q34',
 'Q35_1',
 'Q35_2',
 'Q35_3',
 'Q35_4',
 'Q35_5',
 'Q35_6',
 'Q36',
 'Q37',
 'Q38',
 'HH2_1',
 'HH2_2',
 'HH2_3',
 'HH2_4',
 'HH2_5',
 'HH2_6',
 'HH2_7',
 'HH2_8',
 'HH2_9',
 'HH2_10',
 'HH2_11',
 '_STATE',
 'Q41',
 'Q42',
 'Q43',
 'Q43a',
 'Q44',
 'Q45b',
 'Q45new_1',
 'Q45new_2',
 'Q45new_3',
 'Q45new_4',
 'Q45new_5',
 'Q45new_6',
 'Q45new_7',
 'Q45new_8',
 'Q45new_9',
 'Q46',
 'Q47',
 'D1',
 'D3',
 'D6',
 'D2new_1',
 'D2new_2',
 'D2new_3',
 'D2new_4',
 'D2new_5',
 'D2new_6',
 'D2new_7',
 'D2new_8',
 'D2new_9',
 'DSAME',
 'DQ38',
 'DHH2_1',
 'DHH2_2',
 'DHH2_3',
 'DHH2_4',
 'DHH2_5',
 'DHH2_6',
 'DHH2_7',
 'DHH2_8',
 'DHH2_9',
 'DHH2_10',
 'DHH2_11',
 'DHH2_11_other',
 'D5b',
 'Q48',
 'QRA1',
 'QRA2',
 'survey_date',
 '_AGE_CAT',
 '_NUM_CAT',
 '_REGION_CAT',
 '_COMMUTING_ZONE',
 '_EDU_CAT',
 '_HH_INC_CAT']

In [21]:
educ=pd.get_dummies(AA['_EDU_CAT'])

In [22]:
age=pd.get_dummies(AA['_AGE_CAT'])

In [23]:
income=pd.get_dummies(AA['_HH_INC_CAT'])

In [24]:
numeracy=pd.get_dummies(AA['_NUM_CAT'])

In [25]:
np.sum(educ['High School'])

15979

Ci-dessous, on rajoute les dummies qui sont les plus simples à ajouter : educ, age, income, numeracy

In [26]:
BC = pd.concat([AA, educ], axis=1).reindex(AA.index) #BC est pour Base complète. Ici, on complète la base avec des dummies

In [27]:
BC = pd.concat([BC, age], axis=1).reindex(BC.index)

In [28]:
BC = pd.concat([BC, income], axis=1).reindex(BC.index)

In [29]:
BC = pd.concat([BC, numeracy], axis=1).reindex(BC.index)

On code maintenant le genre :

In [30]:
gender=pd.get_dummies(AA['Q33'])

/tmp/ipykernel_198/2623516903.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  gender=pd.get_dummies(AA['Q33'])

In [31]:
gender.rename(columns={1: "fem"}, inplace=True)

In [32]:
BC = pd.concat([BC, gender['fem']], axis=1).reindex(BC.index)

C'est fait pour le genre.

Faisons le ménage dans les non-réponses et dans les outliers :

In [33]:
BC=BC.dropna(subset=['Q8v2part2','Q9bv2part2']) #On supprime les personnes qui n'ont pas répondu aux questions sur les anticipations d'inflation.

Supprimons les outl

In [38]:
test=BC[BC['Q8v2part2']<=20]
test=test[test['Q8v2part2']>=-20]

In [ ]:
max(test['Q8v2part2'])

In [ ]:
model = OLS(BC['Q8v2part2'].astype('float'),BC['fem'].astype('float'))
results = model.fit()
su = results.summary()
su

Calcul de l'inflation :

In [39]:
inflation_US = OECD[(OECD['Country'] == "United States") & (OECD['Subject2'] == "Consumer prices: all items")]
inflation_US2 = pd.DataFrame({
    'day': pd.to_datetime(inflation_US['Time'], format='%Y-%m-%d'),
    'Inflation': inflation_US['Value'].astype(float)
})

inflation_US3 = pd.DataFrame({
    'date': inflation_US2['day'],
    'tx_evol_ann_pct': (inflation_US2['Inflation'] / inflation_US2['Inflation'].shift(12) - 1) * 100
})

In [36]:
test['inflation t']=0

In [42]:
df3 = pd.merge(test,inflation_US3,how='outer',left_on=['date'],right_on=['date'])

In [45]:
df3=df3[df3['Q1'].notnull()]

In [47]:
BF=df3

## Définition d'un indicateur d'instabilité personelle :

On va définir les variables qu'il serait pertinent d'inclure : 
- Q3 : proba changement de résidence dans les douze prochain mois
- Q10 : 3 : chomeurs
- Q13new: proba de changer d'emploi
- Q25v2 : 3 : anticipe baisse de revenus
- Q30new : proba de ne pas réussir à payer un prêt

In [51]:
list(BF.columns())

TypeError: 'Index' object is not callable

In [57]:
BF.loc[BF['Q25v2']==3, 'loss expectation'] = 1 #On binarise le fait d'anticiper une baisse de ses revenus

/tmp/ipykernel_198/1550918160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BF.loc[BF['Q25v2']==3, 'loss expectation'] = 1

In [63]:
BF

,date,userid,tenure,weight,Q1,Q2,Q3,Q4new,Q5new,Q6new,...,Under 40,50k to 100k,Over 100k,Under 50k,High,Low,fem,tx_evol_ann_pct,indic_perso,loss expectation
0,2013-06-01,70000220,6,16.327999,3,3,50,20,10,15,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.754417,0.4500,1.0
1,2013-06-01,70000224,7,0.228,4,4,25,10,25,75,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.754417,0.0625,NaN
2,2013-06-01,70000234,6,4.066,4,3,3,9,20,20,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.754417,0.2500,NaN
3,2013-06-01,70000238,6,3.035,3,3,0,10,5,70,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.754417,0.0000,NaN
4,2013-06-01,70000239,7,1.947,2,3,10,20,20,50,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.754417,0.3625,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128512,2022-04-01,75005974,1,0.556409,4,3,3,72,90,51,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,8.258629,0.0075,NaN
128513,2022-04-01,75005980,1,0.708391,2,3,34,22,86,54,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,8.258629,0.3350,1.0
128514,2022-04-01,75005987,1,0.915896,2,4,81,70,51,47,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,8.258629,0.6050,NaN
128515,2022-04-01,75005995,1,0.888988,4,4,95,5,5,5,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,8.258629,0.2525,NaN
128516,2022-04-01,75005996,1,0.97863,1,3,1,50,30,40,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,8.258629,0.0300,NaN

In [62]:
BF['indic_perso']=(BF.fillna(0)['Q3']/100+BF.fillna(0)['Q10_3']+BF.fillna(0)['Q13new']/100+BF.fillna(0)['loss expectation']+BF.fillna(0)['Q30new']/100)/4

/tmp/ipykernel_198/2647366474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BF['indic_perso']=(BF.fillna(0)['Q3']/100+BF.fillna(0)['Q10_3']+BF.fillna(0)['Q13new']/100+BF.fillna(0)['loss expectation']+BF.fillna(0)['Q30new']/100)/4

Faisons quelques statistiques descriptives dessus :

In [71]:
import statistics as stat

In [74]:
stat.median(BF['indic_perso'])

0.13070439145799442

In [75]:
stat.mean(BF['indic_perso'])

0.13070439145799442

In [82]:
def weighted_average(dataframe, value, weight):
    val = dataframe[value]
    wt = dataframe[weight]
    return (val * wt).sum() / wt.sum()

In [83]:
weighted_average(BF, 'indic_perso', 'weight')

0.1328481600245835

In [85]:
stat.pstdev(BF['indic_perso'])

0.15247634164189267

In [104]:
len(BF['Q8v2part2'])

128471

In [114]:
Y = BF['Q8v2part2'].astype('float')
X = [BF.fillna(0)['tx_evol_ann_pct'],BF['indic_perso']]
X = sm.add_constant(X)
model = sm.OLS(Y,X)
results = model.fit()
su = results.summary()
su

ValueError: endog and exog matrices are different sizes

## Maintenant, essayons de définir un indicateur pour l'instabilité macro :