# Importation des données :

In [1]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.1-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 249.8/249.8 kB 6.1 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.1
Note: you may need to restart the kernel to use updated packages.

In [69]:
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import pandas as pd
import requests
import numpy as np 
from scipy import stats

In [3]:
OECD = pd.read_excel('données/OECD - short term economic indicators.xlsx')

In [4]:
IMF = pd.read_excel('données/IMF - monetary policy.xlsx')

In [5]:
agregated_data=pd.ExcelFile('données/FRBNY-SCE-Data.xlsx')
agregated_anticipation= df1=pd.read_excel(agregated_data, 'Inflation expectations')

In [6]:
agrant = agregated_anticipation[['Unnamed: 1','Unnamed: 2']].drop([0,1,2]).reset_index().rename(columns={'index':'date','Unnamed: 1':'short exp','Unnamed: 2':'mid exp'})

In [7]:
Enq13 = pd.read_excel('https://www.newyorkfed.org/medialibrary/interactives/sce/sce/downloads/data/frbny-sce-public-microdata-complete-13-16.xlsx')

In [8]:
Enq17 = pd.read_excel('https://www.newyorkfed.org/medialibrary/interactives/sce/sce/downloads/data/frbny-sce-public-microdata-complete-17-19.xlsx')

In [9]:
Latest=pd.ExcelFile('https://www.newyorkfed.org/medialibrary/Interactives/sce/sce/downloads/data/frbny-sce-public-microdata-latest.xlsx')
Enq20=pd.read_excel(Latest, 'Data')

In [10]:
Enq20

,"Source: Survey of Consumer Expectations, © 2013-23 Federal Reserve Bank of New York (FRBNY). The SCE data are available without charge at www.newyorkfed.org and may be used subject to license terms posted there. FRBNY disclaims any responsibility or legal liability for this analysis and interpretation of Survey of Consumer Expectations data.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 210,Unnamed: 211,Unnamed: 212,Unnamed: 213,Unnamed: 214,Unnamed: 215,Unnamed: 216,Unnamed: 217,Unnamed: 218,Unnamed: 219
0,date,userid,tenure,weight,Q1,Q2,Q3,Q4new,Q5new,Q6new,...,Q48,QRA1,QRA2,survey_date,_AGE_CAT,_NUM_CAT,_REGION_CAT,_COMMUTING_ZONE,_EDU_CAT,_HH_INC_CAT
1,202001,70103231,12,0.81825,4,3,20,62,26,44,...,5,NaN,NaN,2020-01-23 00:00:00,40 to 60,High,West,218,College,Over 100k
2,202001,70103252,11,2.879998,3,2,1,30,1,10,...,2,NaN,NaN,2020-01-02 00:00:00,40 to 60,Low,Northeast,203,High School,Under 50k
3,202001,70103258,12,0.549674,4,4,0,3,4,18,...,4,NaN,NaN,2020-01-07 00:00:00,Over 60,High,South,102,College,50k to 100k
4,202001,70103285,12,0.481746,4,4,10,10,10,10,...,1,NaN,NaN,2020-01-27 00:00:00,Under 40,High,Midwest,100,College,50k to 100k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35136,202204,75005976,1,0.954878,4,5,0,5,25,55,...,5,4,7,2022-04-12 00:00:00,40 to 60,Low,South,54,Some College,50k to 100k
35137,202204,75005980,1,0.708391,2,3,34,22,86,54,...,4,3,3,2022-04-04 00:00:00,Over 60,High,West,902,College,50k to 100k
35138,202204,75005987,1,0.915896,2,4,81,70,51,47,...,5,5,4,2022-04-10 00:00:00,Under 40,Low,South,84,Some College,Under 50k
35139,202204,75005995,1,0.888988,4,4,95,5,5,5,...,3,5,4,2022-04-20 00:00:00,Under 40,Low,South,102,Some College,50k to 100k
35140,202204,75005996,1,0.97863,1,3,1,50,30,40,...,3,2,2,2022-04-12 00:00:00,Over 60,Low,Midwest,2,Some College,Under 50k

In [11]:
#Il faut faire 2-3 manips pour rendre les bases utilisables
new_columns = Enq13.iloc[0]
Enq13.columns = new_columns
Enq13 = Enq13.drop(0)

new_columns = Enq17.iloc[0]
Enq17.columns = new_columns
Enq17 = Enq17.drop(0)

In [12]:
new_columns = Enq20.iloc[0]
Enq20.columns = new_columns
Enq20 = Enq20.drop(0)

In [13]:
Enq17['date'] = pd.to_datetime(Enq17['date'].astype(str) + '01', format='%Y%m%d')
Enq13['date'] = pd.to_datetime(Enq13['date'].astype(str) + '01', format='%Y%m%d')
Enq20['date'] = pd.to_datetime(Enq20['date'].astype(str) + '01', format='%Y%m%d')

In [14]:
Base_finale=pd.concat([Enq13,Enq17,Enq20])

In [56]:
Base_finale.to_excel('Base_finale.xlsx')

# I-Première spécification :

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
from statsmodels.regression.linear_model import OLS

In [17]:
AA=Base_finale

In [18]:
list(AA.columns)

['date',
 'userid',
 'tenure',
 'weight',
 'Q1',
 'Q2',
 'Q3',
 'Q4new',
 'Q5new',
 'Q6new',
 'Q8v2',
 'Q8v2part2',
 'Q9_cent25',
 'Q9_cent50',
 'Q9_cent75',
 'Q9_var',
 'Q9_mean',
 'Q9_iqr',
 'Q9_probdeflation',
 'Q9_bin1',
 'Q9_bin2',
 'Q9_bin3',
 'Q9_bin4',
 'Q9_bin5',
 'Q9_bin6',
 'Q9_bin7',
 'Q9_bin8',
 'Q9_bin9',
 'Q9_bin10',
 'Q9bv2',
 'Q9bv2part2',
 'Q9c_cent25',
 'Q9c_cent50',
 'Q9c_cent75',
 'Q9c_var',
 'Q9c_mean',
 'Q9c_iqr',
 'Q9c_probdeflation',
 'Q9c_bin1',
 'Q9c_bin2',
 'Q9c_bin3',
 'Q9c_bin4',
 'Q9c_bin5',
 'Q9c_bin6',
 'Q9c_bin7',
 'Q9c_bin8',
 'Q9c_bin9',
 'Q9c_bin10',
 'Q10_1',
 'Q10_2',
 'Q10_3',
 'Q10_4',
 'Q10_5',
 'Q10_6',
 'Q10_7',
 'Q10_8',
 'Q10_9',
 'Q10_10',
 'Q11',
 'Q12new',
 'ES1_1',
 'ES1_2',
 'ES1_3',
 'ES1_4',
 'ES2',
 'ES3new',
 'ES4',
 'ES5',
 'Q13new',
 'Q14new',
 'Q15',
 'Q16',
 'Q17new',
 'Q18new',
 'Q19',
 'Q20new',
 'Q21new',
 'Q22new',
 'Q23v2',
 'Q23v2part2',
 'Q24_cent25',
 'Q24_cent50',
 'Q24_cent75',
 'Q24_var',
 'Q24_mean',
 'Q24_iqr',
 'Q24_probdeflation',
 'Q24_bin1',
 'Q24_bin2',
 'Q24_bin3',
 'Q24_bin4',
 'Q24_bin5',
 'Q24_bin6',
 'Q24_bin7',
 'Q24_bin8',
 'Q24_bin9',
 'Q24_bin10',
 'Q25v2',
 'Q25v2part2',
 'Q26v2',
 'Q26v2part2',
 'Q27v2',
 'Q27v2part2',
 'Q28',
 'Q29',
 'Q30new',
 'Q31v2',
 'Q31v2part2',
 'C1_cent25',
 'C1_cent50',
 'C1_cent75',
 'C1_var',
 'C1_mean',
 'C1_iqr',
 'C1_probdeflation',
 'C1_bin1',
 'C1_bin2',
 'C1_bin3',
 'C1_bin4',
 'C1_bin5',
 'C1_bin6',
 'C1_bin7',
 'C1_bin8',
 'C1_bin9',
 'C1_bin10',
 'C2',
 'C2part2',
 'C3',
 'C3part2',
 'C4_1',
 'C4_2',
 'C4_3',
 'C4_4',
 'C4_5',
 'C4_6',
 'QNUM1',
 'QNUM2',
 'QNUM3',
 'QNUM5',
 'QNUM6',
 'QNUM8',
 'QNUM9',
 'Q32',
 'Q33',
 'Q34',
 'Q35_1',
 'Q35_2',
 'Q35_3',
 'Q35_4',
 'Q35_5',
 'Q35_6',
 'Q36',
 'Q37',
 'Q38',
 'HH2_1',
 'HH2_2',
 'HH2_3',
 'HH2_4',
 'HH2_5',
 'HH2_6',
 'HH2_7',
 'HH2_8',
 'HH2_9',
 'HH2_10',
 'HH2_11',
 '_STATE',
 'Q41',
 'Q42',
 'Q43',
 'Q43a',
 'Q44',
 'Q45b',
 'Q45new_1',
 'Q45new_2',
 'Q45new_3',
 'Q45new_4',
 'Q45new_5',
 'Q45new_6',
 'Q45new_7',
 'Q45new_8',
 'Q45new_9',
 'Q46',
 'Q47',
 'D1',
 'D3',
 'D6',
 'D2new_1',
 'D2new_2',
 'D2new_3',
 'D2new_4',
 'D2new_5',
 'D2new_6',
 'D2new_7',
 'D2new_8',
 'D2new_9',
 'DSAME',
 'DQ38',
 'DHH2_1',
 'DHH2_2',
 'DHH2_3',
 'DHH2_4',
 'DHH2_5',
 'DHH2_6',
 'DHH2_7',
 'DHH2_8',
 'DHH2_9',
 'DHH2_10',
 'DHH2_11',
 'DHH2_11_other',
 'D5b',
 'Q48',
 'QRA1',
 'QRA2',
 'survey_date',
 '_AGE_CAT',
 '_NUM_CAT',
 '_REGION_CAT',
 '_COMMUTING_ZONE',
 '_EDU_CAT',
 '_HH_INC_CAT']

In [ ]:
model = OLS(AA['Median one-year ahead expected inflation rate'],X[:, :2])
results = model.fit()
su = results.summary()
su

In [23]:
educ=pd.get_dummies(AA['_EDU_CAT'])

In [32]:
age=pd.get_dummies(AA['_AGE_CAT'])

In [37]:
income=pd.get_dummies(AA['_HH_INC_CAT'])

In [40]:
numeracy=pd.get_dummies(AA['_NUM_CAT'])

In [29]:
np.sum(educ['High School'])

15979

Ci-dessous, on rajoute les dummies qui sont les plus simples à ajouter : educ, age, income, numeracy

In [34]:
BC = pd.concat([AA, educ], axis=1).reindex(AA.index) #BC est pour Base complète. Ici, on complète la base avec des dummies

In [35]:
BC = pd.concat([BC, age], axis=1).reindex(BC.index)

In [38]:
BC = pd.concat([BC, income], axis=1).reindex(BC.index)

In [41]:
BC = pd.concat([BC, numeracy], axis=1).reindex(BC.index)

On code maintenant le genre :

In [45]:
gender=pd.get_dummies(AA['Q33'])

/tmp/ipykernel_211/2623516903.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  gender=pd.get_dummies(AA['Q33'])

In [53]:
gender.rename(columns={1: "fem"}, inplace=True)

In [56]:
BC = pd.concat([BC, gender['fem']], axis=1).reindex(BC.index)

C'est fait pour le genre.

Faisons le ménage dans les non-réponses et dans les outliers :

In [66]:
BC=BC.dropna(subset=['Q8v2part2','Q9bv2part2']) #On supprime les personnes qui n'ont pas répondu aux questions sur les anticipations d'inflation.

Supprimons les outl

In [88]:
test=BC[BC['Q8v2part2']<=20]
test=test[test['Q8v2part2']>=-20]

In [91]:
max(test['Q8v2part2'])

20

In [67]:
model = OLS(BC['Q8v2part2'].astype('float'),BC['fem'].astype('float'))
results = model.fit()
su = results.summary()
su

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:              Q8v2part2   R-squared (uncentered):                   0.003
Model:                            OLS   Adj. R-squared (uncentered):              0.003
Method:                 Least Squares   F-statistic:                              399.6
Date:                Mon, 06 Mar 2023   Prob (F-statistic):                    8.78e-89
Time:                        09:30:56   Log-Likelihood:                     -7.4034e+05
No. Observations:              138457   AIC:                                  1.481e+06
Df Residuals:                  138456   BIC:                                  1.481e+06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
fem           10.5295      0.527     19.991      0.000       9.497      11.562
==============================================================================
Omnibus:                   667733.766   Durbin-Watson:                   1.391
Prob(Omnibus):                  0.000   Jarque-Bera (JB):    8970835143631.576
Skew:                         190.590   Prob(JB):                         0.00
Kurtosis:                   39434.592   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""