# Importation des données :

In [1]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.1-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 249.8/249.8 kB 6.3 MB/s eta 0:00:0000:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import pandas as pd
import requests
import numpy as np

In [4]:
OECD = pd.read_excel('données/OECD - short term economic indicators.xlsx')

In [5]:
IMF = pd.read_excel('données/IMF - monetary policy.xlsx')

In [24]:
agregated_data=pd.ExcelFile('données/FRBNY-SCE-Data.xlsx')
agregated_anticipation= df1=pd.read_excel(agregated_data, 'Inflation expectations')

In [20]:
agrant = agregated_anticipation[['Unnamed: 1','Unnamed: 2']].drop([0,1,2]).reset_index().rename(columns={'index':'date','Unnamed: 1':'short exp','Unnamed: 2':'mid exp'})

In [37]:
Enq13 = pd.read_excel('https://www.newyorkfed.org/medialibrary/interactives/sce/sce/downloads/data/frbny-sce-public-microdata-complete-13-16.xlsx')

In [38]:
Enq17 = pd.read_excel('https://www.newyorkfed.org/medialibrary/interactives/sce/sce/downloads/data/frbny-sce-public-microdata-complete-17-19.xlsx')

In [46]:
Latest=pd.ExcelFile('https://www.newyorkfed.org/medialibrary/Interactives/sce/sce/downloads/data/frbny-sce-public-microdata-latest.xlsx')
Enq20=pd.read_excel(Latest, 'Data')

In [47]:
Enq20

,"Source: Survey of Consumer Expectations, © 2013-23 Federal Reserve Bank of New York (FRBNY). The SCE data are available without charge at www.newyorkfed.org and may be used subject to license terms posted there. FRBNY disclaims any responsibility or legal liability for this analysis and interpretation of Survey of Consumer Expectations data.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 210,Unnamed: 211,Unnamed: 212,Unnamed: 213,Unnamed: 214,Unnamed: 215,Unnamed: 216,Unnamed: 217,Unnamed: 218,Unnamed: 219
0,date,userid,tenure,weight,Q1,Q2,Q3,Q4new,Q5new,Q6new,...,Q48,QRA1,QRA2,survey_date,_AGE_CAT,_NUM_CAT,_REGION_CAT,_COMMUTING_ZONE,_EDU_CAT,_HH_INC_CAT
1,202001,70103231,12,0.81825,4,3,20,62,26,44,...,5,NaN,NaN,2020-01-23 00:00:00,40 to 60,High,West,218,College,Over 100k
2,202001,70103252,11,2.879998,3,2,1,30,1,10,...,2,NaN,NaN,2020-01-02 00:00:00,40 to 60,Low,Northeast,203,High School,Under 50k
3,202001,70103258,12,0.549674,4,4,0,3,4,18,...,4,NaN,NaN,2020-01-07 00:00:00,Over 60,High,South,102,College,50k to 100k
4,202001,70103285,12,0.481746,4,4,10,10,10,10,...,1,NaN,NaN,2020-01-27 00:00:00,Under 40,High,Midwest,100,College,50k to 100k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35136,202204,75005976,1,0.954878,4,5,0,5,25,55,...,5,4,7,2022-04-12 00:00:00,40 to 60,Low,South,54,Some College,50k to 100k
35137,202204,75005980,1,0.708391,2,3,34,22,86,54,...,4,3,3,2022-04-04 00:00:00,Over 60,High,West,902,College,50k to 100k
35138,202204,75005987,1,0.915896,2,4,81,70,51,47,...,5,5,4,2022-04-10 00:00:00,Under 40,Low,South,84,Some College,Under 50k
35139,202204,75005995,1,0.888988,4,4,95,5,5,5,...,3,5,4,2022-04-20 00:00:00,Under 40,Low,South,102,Some College,50k to 100k
35140,202204,75005996,1,0.97863,1,3,1,50,30,40,...,3,2,2,2022-04-12 00:00:00,Over 60,Low,Midwest,2,Some College,Under 50k

In [48]:
#Il faut faire 2-3 manips pour rendre les bases utilisables
new_columns = Enq13.iloc[0]
Enq13.columns = new_columns
Enq13 = Enq13.drop(0)

new_columns = Enq17.iloc[0]
Enq17.columns = new_columns
Enq17 = Enq17.drop(0)

In [50]:
new_columns = Enq20.iloc[0]
Enq20.columns = new_columns
Enq20 = Enq20.drop(0)

In [51]:
Enq17['date'] = pd.to_datetime(Enq17['date'].astype(str) + '01', format='%Y%m%d')
Enq13['date'] = pd.to_datetime(Enq13['date'].astype(str) + '01', format='%Y%m%d')
Enq20['date'] = pd.to_datetime(Enq20['date'].astype(str) + '01', format='%Y%m%d')

In [55]:
Base_finale=pd.concat([Enq13,Enq17,Enq20])

In [56]:
Base_finale.to_excel('Base_finale.xlsx')

# I-Première spécification :

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
from statsmodels.regression.linear_model import OLS

In [25]:
new_columns = agregated_anticipation.iloc[2]
agregated_anticipation.columns = new_columns
agregated_anticipation = agregated_anticipation.drop(0)
agregated_anticipation = agregated_anticipation.drop(1)

In [27]:
agregated_anticipation = agregated_anticipation.drop(2)

In [29]:
AA=agregated_anticipation

In [33]:
list(AA.columns)

[nan,
 'Median one-year ahead expected inflation rate',
 'Median three-year ahead expected inflation rate',
 '25th Percentile one-year ahead expected inflation rate',
 '25th Percentile three-year ahead expected inflation rate',
 '75th Percentile one-year ahead expected inflation rate',
 '75th Percentile three-year ahead expected inflation rate',
 'Median point prediction one-year ahead inflation rate',
 'Median point prediction three-year ahead inflation rate']

In [ ]:
model = OLS(AA['Median one-year ahead expected inflation rate'],X[:, :2])
results = model.fit()
su = results.summary()
su